<a href="https://colab.research.google.com/github/MRI-2021/Computer-science-fundamentals/blob/main/Analysis%20member_activity_and_demographics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
from google.colab import files
uploaded = files.upload()

Saving member_activity.csv to member_activity (1).csv

In [3]:
import io
df1 = pd.read_csv(io.BytesIO(uploaded['member_activity.csv']))
# First dataset is now stored in a Pandas Dataframe

In [4]:
from google.colab import files
uploaded = files.upload()

Saving member_demographics.csv to member_demographics (1).csv

In [5]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['member_demographics.csv']))
# Dataset is now stored in a Pandas Dataframe

In [6]:
print('\n============= HEAD ACTIVITY =============')
print(df1.head(3))
print('\n============= HEAD DEMOGRAPHIC =============')
print(df2.head(3))

============= HEAD ACTIVITY =============
   member_id  ftd  ftb  bet_5  acquisition_cost  bets_1_week  bets_4_weeks  \
0     868104    1    1      0          0.000000            2             2
1     868236    1    1      0         26.046512            3             3
2     868283    1    1      1          0.000000           10            16

   retained_1_week  retained_4_weeks first_bet_category  deposits_12_weeks  \
0                0                 0       Horse Racing                1.0
1                0                 0           Football                1.0
2                1                 1           Football               16.0

   deposit_amount_12_weeks  bets_12_weeks  stake_12_weeks  revenue_12_weeks
0                     20.0              2       19.999990         27.999986
1                     20.0              3      102.269891         27.991587
2                   1600.0             32     3135.739803      -1789.131460

============= HEAD DEMOGRAPHIC =============
   member_id             signup_datetime  age member_type signup_source  \
0     868189   2021-01-01 13:41:41.33706   19    Customer     Affiliate
1     868381   2021-01-01 17:19:13.37852   29    Customer     Affiliate
2     868389  2021-01-01 17:26:55.231405   39    Customer       Organic

  signup_channel
0     Influencer
1     Ad Network
2        Organic

In [7]:
df1_i = df1.set_index('member_id')
df1_i.sort_index(ascending=True)

,ftd,ftb,bet_5,acquisition_cost,bets_1_week,bets_4_weeks,retained_1_week,retained_4_weeks,first_bet_category,deposits_12_weeks,deposit_amount_12_weeks,bets_12_weeks,stake_12_weeks,revenue_12_weeks
member_id,,,,,,,,,,,,,,
868041,1,1,1,12.328889,19,27,1,1,Horse Racing,15.0,290.0,34,502.379507,-1415.236330
868045,1,0,0,29.556611,0,0,0,0,NaN,1.0,20.0,0,0.000000,0.000000
868048,0,0,0,0.000000,0,0,0,0,NaN,NaN,NaN,0,0.000000,0.000000
868049,0,0,0,0.000000,0,0,0,0,NaN,NaN,NaN,0,0.000000,0.000000
868050,0,0,0,0.000000,0,0,0,0,NaN,NaN,NaN,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919271,1,1,1,0.000000,37,42,1,1,Accumulator,30.0,470.0,138,1184.278978,-148.471910
919281,0,0,0,0.000000,0,0,0,0,NaN,NaN,NaN,0,0.000000,0.000000
919288,0,0,0,0.000000,0,0,0,0,NaN,NaN,NaN,0,0.000000,0.000000
919289,1,1,0,0.000000,1,1,0,0,Horse Racing,1.0,20.0,1,19.999989,27.999985
919292,0,0,0,0.000000,0,0,0,0,NaN,NaN,NaN,0,0.000000,0.000000

In [8]:
df2_i = df2.set_index('member_id')
df2_i.sort_index(ascending=True)

,signup_datetime,age,member_type,signup_source,signup_channel
member_id,,,,,
868041,2021-01-01 00:48:55.736467,20,Customer,Paid,Apple
868045,2021-01-01 01:37:51.653839,20,Customer,Affiliate,Odds Comparison
868048,2021-01-01 01:44:53.356374,46,Customer,Organic,Organic
868049,2021-01-01 01:45:33.428287,34,Customer,Organic,Organic
868050,2021-01-01 01:46:15.470817,30,Customer,Organic,Organic
...,...,...,...,...,...
919271,2021-03-31 21:20:02.330705,37,Customer,Organic,Organic
919281,2021-03-31 22:08:04.841143,24,Customer,Organic,Organic
919288,2021-03-31 22:53:31.504273,43,Customer,Organic,Organic
919289,2021-03-31 22:56:49.742662,26,Customer,Organic,Organic
919292,2021-03-31 23:13:56.680136,31,Customer,Organic,Organic

In [11]:
df_j = pd.concat([df1_i, df2_i], axis=1)

In [13]:
# print('\n============= HEAD ACTIVITY & DEMOGRAPHIC =============')
# print(df_j.head(3))

df_j.sort_index(ascending=True)

,ftd,ftb,bet_5,acquisition_cost,bets_1_week,bets_4_weeks,retained_1_week,retained_4_weeks,first_bet_category,deposits_12_weeks,deposit_amount_12_weeks,bets_12_weeks,stake_12_weeks,revenue_12_weeks,signup_datetime,age,member_type,signup_source,signup_channel
member_id,,,,,,,,,,,,,,,,,,,
868041,1,1,1,12.328889,19,27,1,1,Horse Racing,15.0,290.0,34,502.379507,-1415.236330,2021-01-01 00:48:55.736467,20,Customer,Paid,Apple
868045,1,0,0,29.556611,0,0,0,0,NaN,1.0,20.0,0,0.000000,0.000000,2021-01-01 01:37:51.653839,20,Customer,Affiliate,Odds Comparison
868048,0,0,0,0.000000,0,0,0,0,NaN,NaN,NaN,0,0.000000,0.000000,2021-01-01 01:44:53.356374,46,Customer,Organic,Organic
868049,0,0,0,0.000000,0,0,0,0,NaN,NaN,NaN,0,0.000000,0.000000,2021-01-01 01:45:33.428287,34,Customer,Organic,Organic
868050,0,0,0,0.000000,0,0,0,0,NaN,NaN,NaN,0,0.000000,0.000000,2021-01-01 01:46:15.470817,30,Customer,Organic,Organic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919271,1,1,1,0.000000,37,42,1,1,Accumulator,30.0,470.0,138,1184.278978,-148.471910,2021-03-31 21:20:02.330705,37,Customer,Organic,Organic
919281,0,0,0,0.000000,0,0,0,0,NaN,NaN,NaN,0,0.000000,0.000000,2021-03-31 22:08:04.841143,24,Customer,Organic,Organic
919288,0,0,0,0.000000,0,0,0,0,NaN,NaN,NaN,0,0.000000,0.000000,2021-03-31 22:53:31.504273,43,Customer,Organic,Organic
919289,1,1,0,0.000000,1,1,0,0,Horse Racing,1.0,20.0,1,19.999989,27.999985,2021-03-31 22:56:49.742662,26,Customer,Organic,Organic
919292,0,0,0,0.000000,0,0,0,0,NaN,NaN,NaN,0,0.000000,0.000000,2021-03-31 23:13:56.680136,31,Customer,Organic,Organic