<a href="https://colab.research.google.com/github/MRI-2021/Computer-science-fundamentals/blob/main/Python%20Pandas%20Groupby%20tutorial%20by%20DataTalks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## Python Pandas opinioneted guide: GROUP operations.
## Import relevant libraries.
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
## To check directory
%ls

sample_data/

In [4]:
## Import dataset and assign it to variable "tips".
## Look at your data to learn more about it.
tips = sns.load_dataset('tips')

print('\n=============HEAD=============')
print(tips.head(3))

print('\n=============INFO=============')
tips.info()

print('\n=============COLUMN NAMES=============')
print(tips.columns)

print('\n=============SHAPE=============')
print(tips.shape)

print('\n=============SIZE=============')
print(tips.size) ## Returns number of elements in this object.

print('\n=============DESCRIBE=============')
tips.describe()

=============HEAD=============
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

=============INFO=============
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.3 KB

=============COLUMN NAMES=============
Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

=============SHAPE=============
(244, 7)

=============SIZE=============
1708

=============DESCRIBE=============

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [ ]:
## Groupby operation (it creates a groupby object so that we can use it to compute things)
tips_gb = tips.groupby(['sex', 'smoker'])
tips_gb ## It tells us the groupby object has been initiated and you can now perform the special groupby operations ().

In [ ]:
## Agg operation (it takes aggregate functions, the best way to compute things)
## YOU NEED A GROUPBY OBJECT, it doesn't work on dataframe.
## It comprresses full dataset into a single number like mean, min, max, standard deviation, median, percentile, kurtosis.

##size (gets how many entries are in the specified colum)
# tips_agg = tips_gb.agg({'tip': 'size'})
# tips_agg

## first (gets the first thing that it sees in each group as specified by index ordering)
# tips_agg = tips_gb.agg({'tip': 'first'})
# tips_agg

## You can apply different aggregate operations to different columns by passing a dictionary.

## Grouped by "sex" and "smoker".
## Aggregated columns are "tip" "day" and "total_bill".
tips_agg = tips_gb.agg({
    'tip': ['mean', 'min'], ## for this columns Agg operations are "mean" and "min"
    'day': 'first', ## for this columns Agg operations is "first"
    'total_bill': 'size' ## for this columns Agg operations is "size"
})

tips_agg

                    tip         day total_bill
                   mean   min first       size
sex    smoker
Male   Yes     3.051167  1.00   Sat         60
       No      3.113402  1.25   Sun         97
Female Yes     2.931515  1.00   Sat         33
       No      2.773519  1.00   Sun         54

In [ ]:
## Grouped by "sex". 
tips_gb_sex = tips.groupby(['sex'])

tips_agg_sex = tips_gb_sex.agg({
    'tip': ['mean', 'min'],
    'day': 'first',
    'total_bill': 'size'
})

tips_agg_sex

             tip        day total_bill
            mean  min first       size
sex
Male    3.089618  1.0   Sun        157
Female  2.833448  1.0   Sun         87

In [ ]:
## Grouped by "smoker".
tips_gb_smoker = tips.groupby(['smoker'])

tips_agg_smoker = tips_gb_smoker.agg({
    'tip': ['mean', 'min'],
    'day': 'first',
    'total_bill': 'size'
})

tips_agg_smoker

             tip        day total_bill
            mean  min first       size
smoker
Yes     3.008710  1.0   Sat         93
No      2.991854  1.0   Sun        151

In [ ]:
## Reset index (remove multi index for index)
tips_agg.reset_index()

      sex smoker       tip         day total_bill
                      mean   min first       size
0    Male    Yes  3.051167  1.00   Sat         60
1    Male     No  3.113402  1.25   Sun         97
2  Female    Yes  2.931515  1.00   Sat         33
3  Female     No  2.773519  1.00   Sun         54

In [ ]:
## Stacking columns, you can use stack or agg.columns to sort it out (remove multi index from columns)
## [Stack will be covered in another lab]

## Before
print('\n=============BEFORE STACK=============')
print(tips_agg.columns)

## After
print('\n=============AFTER STACK=============')
tips_agg.columns = ['__'.join(col).strip() for col in tips_agg.columns.values]
print(tips_agg.columns)

## Final table
print('\n=============TABLE AFTER STACK=============')
tips_agg

=============BEFORE STACK=============
MultiIndex([(       'tip',  'mean'),
            (       'tip',   'min'),
            (       'day', 'first'),
            ('total_bill',  'size')],
           )

=============AFTER STACK=============
Index(['tip__mean', 'tip__min', 'day__first', 'total_bill__size'], dtype='object')

=============TABLE AFTER STACK=============

               tip__mean  tip__min day__first  total_bill__size
sex    smoker
Male   Yes      3.051167      1.00        Sat                60
       No       3.113402      1.25        Sun                97
Female Yes      2.931515      1.00        Sat                33
       No       2.773519      1.00        Sun                54

In [ ]:
## (Basically reset.index and stack have opposite results).
tips_agg.reset_index()

      sex smoker  tip__mean  tip__min day__first  total_bill__size
0    Male    Yes   3.051167      1.00        Sat                60
1    Male     No   3.113402      1.25        Sun                97
2  Female    Yes   2.931515      1.00        Sat                33
3  Female     No   2.773519      1.00        Sun                54

In [ ]:
## Filter to exclude member of groups that don't meet our criteria (sometimes it can be useful).
tips_gb = tips.groupby(['day', 'time']) ## groupby
median_size = tips_gb.agg({'size': 'sum'}).median()[0] ## aggregate

print('\n=============BEFORE FILTER=============')
print(tips.head())

print('\n=============WITH FILTER=============')
## To filter out / excude times a day that are less than median size.
tips_gb.filter(lambda group: group['size'].sum() < median_size).head()

=============BEFORE FILTER=============
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

=============WITH FILTER=============

    total_bill   tip     sex smoker  day    time  size
90       28.97  3.00    Male    Yes  Fri  Dinner     2
91       22.49  3.50    Male     No  Fri  Dinner     2
92        5.75  1.00  Female    Yes  Fri  Dinner     2
93       16.32  4.30  Female    Yes  Fri  Dinner     2
94       22.75  3.25  Female     No  Fri  Dinner     2

In [ ]:
## Transform applies a function to a group (in some way it is similar to groupby).
## Mostly used in standardisation and normalisation.

tips_gb = tips.groupby(['day']) ## groupby

tips_gb[['total_bill', 'tip']].transform(lambda x: x / x.mean()).head()

   total_bill       tip
0    0.793554  0.310279
1    0.482952  0.509964
2    0.981317  1.075225
3    1.106025  1.016856
4    1.148529  1.109018